@model Final_Project.Models.DataModel

@{
    ViewData["Title"] = "Details";
}




<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - database</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <style>
    </style>
</head>
<body>
    <header>
    </header>
    <div class="container">
        <main>
            <h1>Details</h1>

            <div>
                <h4>DataModel</h4>
                <hr />
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.firstname)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.firstname)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.lastname)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.lastname)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.FatherName)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.FatherName)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.occupation)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.occupation)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.date)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.date)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.gender)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.gender)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Email)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Email)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Password)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Password)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.ConfirmPassword)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.ConfirmPassword)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.address)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.address)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.city)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.city)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.state)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.state)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.zipcode)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.zipcode)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.phone)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.phone)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.collage)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.collage)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.board)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.board)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Parcentage)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Parcentage)
                    </dd>
                </dl>
            </div>
            <div>
                <a asp-action="Edit" asp-route-id="@Model.StdID">Edit</a> |
                <a asp-action="Index">Back to List</a>
            </div>

        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - database - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

</body>
</html>
